<div style="border:solid 10px lightseagreen">
    <div style="border:solid 10px  green">
        Quiz
    </div>
    <div style="border:solid 10px  red">
        <timer *ngIf="gameStarted" [timeLeft]="60" ></timer>
    </div>
    <div style="border:solid 10px  blue">
        <question [question]="getQuestion()"></question>
    </div>
    <div style="border:solid 10px  black">
        <input type="button" (click)="previousQuestion()" value="Anterior"  *ngIf="currentQuestion > 0" >
    </div>
    <div style="border:solid 10px  black">
        <input type="button" (click)="nextQuestion()" value="Siguiente" *ngIf="currentQuestion + 1 < questions.length">
    </div>
    <div style="border:solid 10px  maroon">
        progress bar
    </div>
</div>
<div style="border:solid 10px  violet">
    puntuaciones
</div>
<div style="border:solid 10px  purple">
    <input type="button" value="Iniciar juego" (click)="gameStarted=true">
</div>