<div style="border:solid 10px lightseagreen" *ngIf="!gameOver">
    <div style="border:solid 10px  green">
        Quiz
    </div>
    <div style="border:solid 10px  red">
        <timer *ngIf="startTimer" [timeLeft]="60" (timerEnds)="gameOver = true"></timer>
    </div>
    <div style="border:solid 10px  blue">
        <question [question]="getQuestion()"></question>
    </div>
    <div style="border:solid 10px  black">
        <input type="button" (click)="previousQuestion()" value="Anterior"  *ngIf="isFirstQuestion()" >
    </div>
    <div style="border:solid 10px  black">
        <input type="button" (click)="nextQuestion()" value="Siguiente" *ngIf="!isLastQuestion()">
    </div>
    <div style="border:solid 10px  black">
        <input type="button" (click)="displayResults()" value="Ver Resultados" *ngIf="isLastQuestion()">
    </div>
    <div style="border:solid 10px  maroon">
        <step-bar [questionIndexes]="getQuestionIndexes()" [(currentQuestion)]="currentQuestionIndex"></step-bar>
    </div>
</div>
<div style="border:solid 10px  violet" *ngIf="gameOver">
    <summary [questions]="questions"></summary>
</div>
<div style="border:solid 10px  purple" *ngIf="newGame">
    <input type="button" value="Iniciar juego" (click)="startGame()">
</div>
<div style="border:solid 10px  purple" *ngIf="!newGame">
    <input type="button" value="Terminar juego" (click)="finishGame()">
</div>