.center {
    margin: auto;
    width: 933px;
    height: 625px;
    padding: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.game-container{
    border:solid 5px lightseagreen; 
    background-color: black; 
    color:wheat;
}