<div style="border:solid 10px lightseagreen">
    <div style="border:solid 10px  green">
        Quiz
    </div>
    <div style="border:solid 10px  red">
        00:00
    </div>
    <div style="border:solid 10px  blue">
        Pregunta
    </div>
    <div style="border:solid 10px  orange">
        Respuestas
    </div>
    <div style="border:solid 10px  black">
        boton izquierdo
    </div>
    <div style="border:solid 10px  black">
        boton derecho
    </div>
    <div style="border:solid 10px  maroon">
        progress bar
    </div>
</div>
<div style="border:solid 10px  violet">
    puntuaciones
</div>